.textfield {
  background-color: #DADADA;
}
.textfield .deleted {
  fill: grey;
  opacity: 0.3;
}
.textfield .highlight_red {
  fill: #e20000;
  opacity: 0.3;
}
.textfield .highlight_yellow {
  fill: #e2fa00;
  opacity: 0.3;
}
.textfield .highlight_magenta {
  fill: #FF00FF;
  opacity: 0.3;
}
.textfield .highlight_foreign_text {
  fill: blue;
  opacity: 0.5;
}
.textfield .unhighlighted {
  opacity: 0.0;
}
.textfield .highlight_path {
   stroke: red;
   fill: none;
   stroke-width: 0.2;
}
.textfield .unhighlighted_path {
   stroke: none;
   fill: none;
   opacity: 0.0;
}
.textfield .border {
  stroke: #e2fa00;
  stroke-width:5;
  opacity: 0.3;
}
