#page {
   width: 100%;
   margin: 0;
   padding: 0;
   white-space: nowrap;
}
.inline {
   display: inline-block;
}
.breakline {
   display: block;
   height: 50%;
   overflow: scroll;
}
.gap {
   display: inline-block;
   width: 1px;
   height: 100%;
   margin: 0;
}
#margin {
   display: inline-block;
   height: 100%;
   margin: 0;
}
#textfield {
   display: inline-block;
   /*width: 95%;*/
   height: 100%;
   margin: 0;
}
