<div id="page" *ngIf="first_image" [style.height.px]="max_height" [ngStyle]="{ 'overflow': hasColumnStyle() ? 'auto': 'hidden' }">
   <div #firstContainer [ngClass]="{ 'inline': hasColumnStyle(), 'breakline': !hasColumnStyle()}">
       <div id="margin">
          <margin-field [text_field]="first_image.text_field" [lines]="first_lines" [assignStyle]="assignStyle"
                        [container]="firstContainer" [zoomFactor]="zoomFactor" [max_height]="max_height"></margin-field>
       </div>
       <div class="gap"></div>
       <div id="textfield">
          <text-field [identity]="first_textfield_id" [container]="firstContainer"
                      [image]="first_image" [findText]="findText" [words]="first_words" [zoomFactor]="zoomFactor" 
                      [preferPrimaryUrl]="preferPrimaryUrl" [max_height]="max_height" 
                      [selectedWords]="selectedWords" [selectedLines]="selectedLines"
                      [foreign_texts]="first_foreign_texts" [configuration]="configuration"
                      [assignClass]="assignClass" [assignStyle]="assignStyle"></text-field>
       </div>
   </div>
   <div #secondContainer [ngClass]="{ 'inline': hasColumnStyle(), 'breakline': !hasColumnStyle()}">
       <div class="gap"></div>
       <div id="margin" *ngIf="second_image && second_lines && !hasColumnStyle()">
          <margin-field [text_field]="second_image.text_field" [lines]="second_lines" [assignStyle]="assignStyle"
                        [container]="secondContainer" [zoomFactor]="zoomFactor" [max_height]="max_height"></margin-field>
       </div>
       <div id="textfield" *ngIf="second_image && second_words">
          <text-field [identity]="second_textfield_id" [container]="secondContainer"
                      [image]="second_image" [findText]="findText" [words]="second_words" [zoomFactor]="zoomFactor"
                      [preferPrimaryUrl]="preferPrimaryUrl" [max_height]="max_height" 
                      [selectedWords]="selectedWords" [selectedLines]="selectedLines"
                      [foreign_texts]="second_foreign_texts" [configuration]="configuration"
                      [assignClass]="assignClass" [assignStyle]="assignStyle"></text-field>
       </div>
       <div class="gap"></div>
       <div id="margin" *ngIf="second_image && second_lines && hasColumnStyle()">
          <margin-field [text_field]="second_image.text_field" [lines]="second_lines" [assignStyle]="assignStyle"
                        [zoomFactor]="zoomFactor" [max_height]="max_height"></margin-field>
       </div>
   </div>
</div>
