.marginfield {
  background-color: white;
}

.marginfield .text {
   font-size: 8px;
}

.marginfield .unhighlighted {
   fill: white;
}
.marginfield .highlight {
   fill: yellow;
   opacity: 0.5;
}
.marginfield .even_highlight {
  fill: #e2fa00;
  opacity: 0.3;
}
.marginfield .highlight {
  background-color: #FF00FF;
}
.marginfield .border {
  stroke: #e2fa00;
  stroke-width:5;
  opacity: 0.3;
}

.marginfield .howered_line {
  fill: #fa301c;
  opacity: 0.3;
}

.marginfield .same_word {
  fill: #c9fac5;
  opacity: 0.3;
}

.text_fadeout {
  fill: #a4a4a4;
}

.hover {
  transform: scale(1.5);
}
